@charset "UTF-8";
/*CSS Doc*/


.hidden {
	display: none;
}

#siteContainer {
	margin: 0 auto;
	width: 1440px;
	height: 1000px;
}

#mainNav {
	height: 100px;
	background: #000;
}

#mainNav ul {
	margin-left: 410px;
	display: flex;
}

#mainNav ul li {
	font-family: Arial;
	font-size: 24px;
	margin-top: 35px;
	margin-right: 90px; 
	flex-direction: row;
}


#mainNav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FFF;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #222;
	border-radius: 10px;
}

#mainNav ul li a:hover {
	background-color: #353535;
}

#musicWrapper {
	width: 1240px; 
	height: 775px;
	margin-left: 100px;
	margin-top: 25px;
	background-image: linear-gradient(#f5d052,#0d186f);
}

#musicNav {
	height: 75px;
	background-color: #0d186f;
	display: flex;
}

#musicIcons {
	flex-direction: row;
	margin-left: 10px;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	margin-top: 13px;
	background-color: #000;
}

#musicBox {	
	width: 1220px;
	height: 775px;
	margin-left: 10px;
}

#figureContainer {
	width: 1240px;
	height: 675px;
	margin-left: 10px;
	margin-top: 50px;
	display: flex;
}

#figure {
	flex-direction: row;
	margin-left: 20px;
	width: 175px;
	height: 600px;
	background-color: #FFF;
}


#resetButton {
	margin-top: 25px;
	margin-left: 1185px;
	width: 155px;
	height: 50px;
	background-color: #0d186f;
}

#resetButton p {
	padding-top: 12px;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	font-family: Arial;
	color: #FFF;
}

#footerNav {
	margin-top: 25px;
	height: 50px;
	background: #000;
}

#footerNav ul {
	margin-left: 410px;
	display: flex;
}

#footerNav ul li {
	font-family: Arial;
	font-size: 24px;
	margin-top: 15px;
	margin-right: 90px; 
	flex-direction: row;
}

#footerNav ul li a {
	text-decoration: none;
	text-transform: lowercase;
	color: #FFF;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #222;
	border-radius: 10px;
}

#footerNav ul li a:hover {
	background-color: #353535;
}